body {
	background-color: #ebebe0;
	font-family: 'Times New Roman', Times, sans-serif;
	font-size: 17px;
}

.para1 {
	text-align: left;
}

h1 {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

h2 {
	color: red;
	font-size: 25px;
}

figure {
	margin-left: 0px;
	background-color: #10100a;
	text-align: center;
	border-style: solid;
	border-width: 5px;
	border-color: red;
	border-radius: 5px;
}

img {
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 20px;
}

figcaption {
	color: white ;
	font-style: italic;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 25px;
	padding-top: 25px;
	}

div {
	background-color: #cdcdb1;
	font-size: 18px;
	margin-left: 30px;
	color: #8000ff;
	border-style: dashed;
	border-width: 2px;
	border-color: #8000ff;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	line-height: 1.7;
}

table {
	width: 100%;
	border-collapse: collapse;
}


tr:nth-child(even) {
	background-color: white;
}

th {
	background-color: #10100a;
	color: white;
	height: 25px;
	text-align: center;
}


td{
	text-align: left;
}

.table3 {
	background-color: #adad85;
}

a {
	color: red;
	font-weight: bold;
}